// styles.scss
@import "abstracts/variables";
@import "abstracts/mixins";

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


a {
  position: relative;
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  margin: 5px 0;

  &:hover::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #B29D75;
    position: absolute;
    left: -50%; /* Adjust the value to position the dash correctly */
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #B29D75;
    right: -15%; /* Adjust the value to position the dash correctly */
    top: 40%;
  }
}



.header {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  background: none;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 4rem;
  z-index: 999;
  @media screen and (max-width: 767px) {
    align-items: flex-start;
  }
  .logo {
    position: relative;
    z-index: 999;
    &__circle {
      position: absolute;
      top: -130%;
      right: -20%;
      background-color: #b8a47e;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      z-index: -1;
    }
    img {
      width: 150px;
      height: auto;
    }
    @media screen and (max-width: 767px) {
      &__circle {
        top: -180%;
        right: -40%;
        height: 100px;
        width: 100px;
      }
      img {
        width: 60px;
        height: auto;
      }
    }
  }

  .nav {
    ul {
      list-style: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8em;
      gap: 48px;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-right: 20px;
        a {
          text-decoration: none;
          color: #333;

          &:hover {
            color: #000;
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      ul {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        margin-top: 50%;
        margin-left: 60%;
        padding: 16px 24px;
      }
      ul.active {
        display: flex;
      }
    }
  }

  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 10%;
    background: transparent;
    height: 70px;
    width: 70px;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #b29d75;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.active span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}


.vertical-nav {
  position: fixed;
  left: 5%;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;

  .nav-arrow {
    width: 16px;
    height: 16px;
    border-left: 2px solid #b29a71; // Arrow color
    border-bottom: 2px solid #b29a71;
    margin: 10px 0;

    &.up {
      transform: rotate(135deg);
    }

    &.down {
      transform: rotate(315deg);
    }
  }

  .nav-circle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000;
    margin: 10px 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

//=============================================================

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    background: url("/scss/images/home-slider-slide-3.png") no-repeat;
    height: 100%;
    width: 100%; 
    background-position: right;
    background-size: contain;
    background-size: 65% 100%;
    z-index: -1; /* Send it to the background */
    @media screen and (max-width: 767px) {
      background-size: auto 50%;
      background-position: bottom 20% right 0;
    }
  }
  &__container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      color: #000;
      margin-top: 0;
      font-weight: 800;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      padding-top: 50%;
      h1 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
      }
    }
  }

  p {
    font-size: 1.2rem;
    color: #333;
    font-weight: 700;
  }

  .button-container {
    .gear-up-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #b29d75;
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 0.1rem;

      .line {
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: #b29d75;
        margin-right: 10px;
      }

      .arrow {
        display: inline-block;
        margin-left: 16px;
        font-size: 1.5rem;
      }

      &:hover {
        color: #8c7a5b;
        .line {
          background-color: #8c7a5b;
        }
        .arrow {
          color: #8c7a5b;
        }
      }
    }
  }
}

.voyager-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
  }
}

  
#voyager {
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

#drifter {
  background-color: #ededed;
}

.image-section {
  position: relative;
  width: 65%;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.image-section img {
  width: 100%;
  height: auto;
  z-index: -999;
}

.text-overlay {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  &__left {
    justify-content: end;
    align-content: end;
    align-items: end;
    left: 45%;
    margin-right: 32px;
    @media screen and (max-width: 767px) {
      left: 50%;
      margin-right: 0;
    }
  }
  &__right {
    justify-content: start;
    align-content: start;
    align-items: start;
    left: 60%;
    margin-right: 32px;
    @media screen and (max-width: 767px) {
      left: 50%;
      margin-right: 0;
    }
  }
}

.text-overlay h1 {
  font-size: 2em;
  margin: 0;
  letter-spacing: 0.4em;
  @media screen and (max-width: 767px) {
    font-size: 1.5em;
  }
}

.text-overlay h3 {
  font-size: 1em;
  margin: 0;
  @media screen and (max-width: 767px) {
    font-size: 0.8em;
  }
}

.description-section {
  width: 35%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 1em;
  }
}

.description-box {
  display: flex;
  width: 600px;
  position: absolute;
  border: 2px solid #b8a47e;
  padding: 2em;
  z-index: 10;
  &__right {
    justify-content: end;
    right: 0;
    margin-right: 8%;
    @media screen and (max-width: 767px) {
      margin-right: 0;
      right: auto;
    }
  }
  &__left {
    justify-content: start;
    left: 0;
    margin-left: 8%;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      left: auto;
    }
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    position: relative;
  }
}

.description-box p {
  max-width: 50%;
  margin: 0;
  font-size: 0.8em;
  color: #777;
  line-height: 2em;
  @media screen and (max-width: 767px) {
    max-width: 100%;
    font-size: 0.7em;
  }
}

.arrow-down {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -40%;
  width: 150px;
  height: 100px;
  transform: translateX(-50%);
  &__top {
    left: 60%;
    background-color: #fff;
  }
  &__bottom {
    left: 30%;
    background-color: #ededed;
  }
  img {
    height: 80px;
    width: auto;
  }
  @media screen and (max-width: 767px) {
    bottom: -25%;
    width: 60px;
    height: 60px;
    img {
      height: 30px;
    }
    &__top {
      left: 50%;
    }
    &__bottom {
      left: 50%;
    }
  }
}

//=========================================================================================

.collection {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 64px 0;
  gap: 2em;
  &__title {
    width: 100%;
    h1 {
      text-align: center;
      font-size: 2em;
      font-weight: 900;
      color: #333;
      letter-spacing: 0.5em;
      @media screen and (max-width: 767px) {
        font-size: 1em;
      }
    }
    .line {
      @include dash(40px, 2px);
      margin-right: 10px;
    }
  }
  &__subtitle {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em;
    color: #333;
    letter-spacing: 0.3em;
    .line {
      @include dash(90px, 2px);
      margin-right: 10px;
    }
    &__container {
      font-size: 1em;
      font-weight: 700;
      letter-spacing: 0.1em;
      padding: 4px;
      background-color: #b8a47e;
      width: 350px;
      height: auto;
      text-align: start;
    }
    @media screen and (max-width: 767px) {
      font-size: em;
    }
  }
}

.item-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
  }
}

#item1 {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    margin: 0;
    font-size: 2.5em;
    color: #777;
    letter-spacing: 0.4em;
    span {
      @include dash(60px, 2px);
    }
  }
  .item-description-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-description {
    max-width: 520px;
    margin-top: -10%;
    span {
      @include dash(2px, 120px);
      margin-bottom: 16px;
    }
    .spruce {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 4px;
      background-color: #b8a47e;
      h4 {
        position: absolute;
        top: -28px;
        font-size: 1.5em;
        line-height: 0.8em;
        font-weight: 800;
        color: #333;
      }
    }
    p {
      padding-left: 12%;
      line-height: 1.5em;
    }
    @media screen and (max-width: 767px) {
      margin-top: -30%;
      .spruce {
        padding: 12px 8px;
        h4 {
          top: -16px;
          font-size: 1em;
        }
      }
      p {
        padding-left: 0;
      }
    }
  }
}

#item2 {
  flex-basis: 35%;
  display: flex;
  margin-left: -10%;
  flex-direction: column;
  align-items: end;
  width: 100%;
  justify-content: end;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  h4 {
    font-size: 1.3em;
    line-height: 0.8em;
    font-weight: 800;
    color: #333;
    width: 100%;
  }
  .item-images {
    margin-top: -10%;
  }
  .item-description {
    margin-top: 30%;
    margin-left: 30%;
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }
}

#item3 {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  .item-images {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    max-width: 500px;
    h3 {
      z-index: 1;
      margin: 0;
      margin-bottom: -32px;
      font-size: 2.5em;
      color: #777;
      letter-spacing: 0.4em;
    }
  }
  .item-description {
    margin-left: 10%;
    max-width: 500px;
    h4 {
      font-size: 1.7em;
      line-height: 0.8em;
      font-weight: 800;
      color: #333;
    }
  }
  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin: 0 auto;
    .item-description {
      margin: 0 auto;
      h4 {
        font-size: 1.2em;
      }
    }
  }
}

#item4 {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -12%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .item-description {
    position: relative;
    .shadow-text {
      position: absolute;
      width: 100px;
      top: -120%;
      left: 25%;
      font-size: 3em;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 20px;
      text-shadow: 0 10px 15px #999;
      color: #ffffff;
      @media screen and (max-width: 767px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        margin: 0 auto;
        font-size: 2em;
      }
    }
  }
  h3 {
    z-index: 1;
    margin-bottom: -32px;
    font-size: 2.5em;
    color: #777;
    letter-spacing: 0.4em;
  }
  .item-images {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    img {
      z-index: -1;
    }
    
  }
}

.item-collection {
  display: grid;
  grid-template-columns: repeat(7, auto);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: end;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, auto);
    padding: 0 10px;
    width: 100%;
    row-gap: 16px;
  }

  img {
    width: 150px;
    height: 150px;
    position: relative; 
    &:hover {
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 150px;
      height: 150px;
      background-color: rgba(0, 0, 0, 0.5); 
      opacity: 0;
      transition: opacity 0.3s; 
    }

    &::after {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      opacity: 0;
      transition: opacity 0.3s; // Smooth transition effect
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }

  .deco-end {
    position: relative;
    width: 200px;
    height: auto;
    @media (max-width: 768px) {
      display: none;
    }
    .deco-img {
      z-index: -2;
      position: absolute;
      right: 0;
      top: -500px;
      width: 200px;
      height: 500px;
    }
  }
}

.item-images {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.item-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.item-description {
  flex: 1 1 40%;
  padding: 1em;
  box-sizing: border-box;
  span {
    @include dash(2px, 60px);
  }
  .logo2 {
    display: flex;
    align-items: start;
    width: 100%;
    height: auto;
    margin-top: 2em;
    .dash2 {
      @include dash(2px, 120px);
      z-index: 10;
    }
    img {
      width: 100px;
      height: auto;
      object-fit: contain;
    }
  }
  .read-more {
    padding: 0.5em 0;
    cursor: pointer;
  }
}

.item-description h3 {
  font-size: 1.5em;
  margin: 0;
}

.item-description h4 {
  font-size: 1.5em;
  margin: 0.8em 0;
  letter-spacing: 0.3em;
}

.item-description p {
  margin: 0.5em 0;
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
  }

  .item-images,
  .item-description {
    flex: 1 1 100%;
  }
}


footer {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f5f5;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  font-size: 0.8em;
  font-weight: 600;
  color: #8a8a8a;
  @media (max-width: 768px) {
    padding: 30px 10px;
    width: 100%;
  }
  .footer-top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    img {
      width: auto;
      height: 60px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .footer-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.footer-nav ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.footer-nav li {
  margin-right: 20px;
}

.footer-nav a {
  text-decoration: none;
  color: #333;
}

.address,
.newsletter {
  margin-bottom: 20px;
}

.newsletter {
  max-width: 300px;
  form {
    display: flex;
  }
  input {
    flex-grow: 1;
    padding: 5px;
  }
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
  }
}


.social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-left: 5%;
  a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }
}

