
  @mixin dash($width, $height) {
    display: inline-block;
    width: $width;
    height: $height;
    background-color: #B29D75;
    margin-right: 10px;
  }

  @mixin hover_effect() {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
  
    &:hover::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 2px;
      background-color: #B29D75;
      position: absolute;
      right: 110%;
      top: 50%;
      transform: translateY(-50%);
    }

    
  &:hover::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #B29D75;
    right: -15%; /* Adjust the value to position the dash correctly */
    top: 40%;
  }
  }