$font-family: 'Arial', sans-serif;
$text-color: #333;
$primary-color: #B29D75;
$bg-color: #fff;
$font-size-large: 2rem;
$font-size-medium: 1rem;
$font-size-small: 0.875rem;
$line-height: 1.5;
$max-width: 1200px;
$padding: 20px;


$breakpoints: (
"medium": 768px,
"large": 1024px,
);